@using Models
@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    User connectedUser = Models.User.ConnectedUser;

    bool SearchAscending = Session["SortAscending"] != null ? (bool)Session["SortAscending"] : true;
}

<div class="section roundedBorder">
    <div class="headerMenu">
        <div style="display:flex; align-items:center; gap:10px;">
            <a class="siteIcon" href="/Medias/list"></a>
            <div class="pageTitle">@ViewBag.PageTitle</div>
        </div>

        <div class="menu">

            @if (action == "list")
            {
                <a href="/@controller/Create" class="cmdIcon fa fa-circle-plus" title="Ajouter..."></a>
                <a href="/@controller/ToggleSort" class="cmdIcon fa @(SearchAscending ? "fa-arrow-down-short-wide" : "fa-arrow-up-wide-short")"></a>
                <a href="/@controller/ToggleSearch" class="cmdIcon fa fa-search"></a>
            }

            @if (controller == "medias" && action == "details")
            {
                int mediaId = Session["CurrentMediaId"] != null ? (int)Session["CurrentMediaId"] : 0;
                if (mediaId != 0)
                {
                    Media currentMedia = DAL.DB.Medias.Get(mediaId);
                    if (currentMedia != null && connectedUser != null &&
                       (currentMedia.OwnerId == connectedUser.Id || connectedUser.Access == Access.Admin))
                    {
                        @Helper.IconCmd("Medias", "Edit", "fa-edit", "Modifier cette vidéo")
                        @Helper.IconConfirmCmd("Medias", "Delete", "fa-trash", "Effacer cette vidéo")
                    }
                }
            }
            @if ((controller == "medias" && (action == "create" || action == "edit")) ||
                 (controller == "accounts" && (action == "subscribe" || action == "editprofil")))
            {
            <a href="#" onclick="$('#submit').click(); return false;" class="cmdIcon fa fa-save" title="Enregistrer"></a>
            <a href="/Medias/list" class="cmdIcon fa fa-times" title="Annuler"></a>
            }

            @if (connectedUser != null)
            {
                <div class="dropdown" style="margin-left: 10px;">
                    <div data-bs-toggle="dropdown" aria-expanded="false" style="cursor:pointer">
                        <div class="UserSmallAvatar"
                             style="background-image: url(@connectedUser.Avatar);"
                             title="@connectedUser.Name">
                        </div>
                    </div>

                    <div class="dropdown-menu dropdown-menu-end noselect" id="DDMenu">
                        <h6 class="dropdown-header">@connectedUser.Name</h6>
                        <a href="/Accounts/EditProfil" class="dropdown-item">
                            <i class="menuIcon fa fa-user-edit"></i> Mon profil
                        </a>

                        @if (connectedUser.Access == Access.Admin)
                        {
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header text-primary">Administration</h6>
                            <a href="/Accounts/ManageUsers" class="dropdown-item">
                                <i class="menuIcon fa fa-users-cog"></i> Usagers
                            </a>
                            <a href="/Accounts/LoginsJournal" class="dropdown-item">
                                <i class="menuIcon fa fa-history"></i> Connexions
                            </a>
                        }

                        <div class="dropdown-divider"></div>
                        <a href="/Accounts/Logout" class="dropdown-item text-danger">
                            <i class="menuIcon fa fa-sign-out-alt"></i> Déconnexion
                        </a>
                    </div>
                </div>
            }
            else
            {
                <a href="/Accounts/Login" class="cmdIcon fa fa-sign-in-alt" title="Connexion"></a>
            }
        </div>
    </div>
</div>